# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [78]:
# write your code here
my_list = [[1, 2], [3, 4], [5, 6]]
value = my_list[1][1]
print(value)

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [79]:
# write your code here
lst = [10, 20, 30, 40, 50]
rev = lst[::-1]
print(rev,"# slicing: lst[::-1] (start:end:step=-1)")

[50, 40, 30, 20, 10] # slicing: lst[::-1] (start:end:step=-1)

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [80]:
# write your code here
lst1 = [1,2,3,4,5,6,7,8]
val = lst1[1::2]
print(val)

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [81]:
# write your code here
lst = [10,20,30,40,50]
lst[2:4] = [99,100,101]
print(lst)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [82]:
# write your code here
lst = [1,2,3,4,5]
lst[1:3] = [99,100,101]
print(lst)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [83]:
# write your code here
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']
combined = [*lst1,*lst2]
print(combined)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [84]:
# write your code here
my_list = [1,2,3]
my_list2 = ['a','b','c']
my_list.extend(my_list2)
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [85]:
# write your code here
list1 = [10,20,30,40]
list2 = [30,40,50,60]

for item in list2:
  if item not in list1:
    list1.extend([item])
print(list1)

[10, 20, 30, 40, 50, 60]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [86]:
# write your code here
lst = [0]* 100

for i in range(9,100,10):
  lst[i] = 1

print(lst)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [119]:
# write your code here
lst = [1,2,3,4,5]
lst1 = [2,4]
res = set(lst1).issubset(lst)
print(res)

TypeError: 'set' object is not callable

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [ ]:
# write your code here
lst1 = [1,2,3,4,5]
lst2 = [2,4]

filter = []
for i in lst1:
  if i not in lst2:
    filter.append(i)
print(filter)

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [ ]:
# write your code here
lst = []
for i in range(1,11):
  lst.append(i)
print(lst)

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [ ]:
# write your code here
lst = [10,20,30,40,50]
lst.append(99)
print(lst)

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [88]:
# write your code here
lst = [1,2,3,4,5]
lst.insert(1,10)
print(lst)

[1, 10, 2, 3, 4, 5]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [89]:
# write your code here
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [90]:
# write your code here
lst = [1,2,3,4,5]
lst.pop()
print(lst)

[1, 2, 3, 4]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [91]:
# write your code here
lst = [1,2,3,4,5]
count = 0
for i in lst:
  count += 1
print(count)

5

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [92]:
# write your code here
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst[:5])

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [93]:
# write your code here
lst = [1,2,3,4,5]
print(lst[::-1])

[5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [94]:
# write your code here
lst = [1,2,3,4,5]
value = 2
if value in lst:
  print(True)
else:
  print(False)

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [95]:
# write your code here
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
combined = lst1 + lst2
print(combined)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [96]:
# write your code here
lst = [1,2,3,4,5]
sum = 0
for i in lst:
  sum += i
print(sum)

15

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [97]:
# write your code here
lst = []
for i in range(1,11):
  if i % 2 != 0:
    lst.append(i)
print(lst)

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [98]:
# write your code here
lst = [1,2,3,3,4,4,5,6]
lst1 = set(lst)
print(lst1)

TypeError: 'set' object is not callable

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [ ]:
# write your code here
string = 'hello'
lst = list(string)
print(lst)

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [ ]:
# write your code here
lst = [1,2,3,4,5]
product_value = 1
for i in lst:
  product_value *= i
print(product_value)

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [ ]:
# write your code here
lst = [5,4,3,2,1]
lst.sort()
print(lst)

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [ ]:
# write your code here
lst = [1,2,3,4,5]
lst.clear()
print(lst)

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [ ]:
# write your code here
lst = [1,2,3,4,5]
i = 0
while i < len(lst):
  print(lst[i])
  i += 1

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [ ]:
# write your code here
lst = [1,2,3,4,5]
for i in range(len(lst)):
  print(f'index: {i}, value: {lst[i]}')

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [99]:
# write your code here
lst = [1,2,3,4,5]
index = lst.index(4)
print(index)

3

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [100]:
# write your code here
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [101]:
# write your code here
tup = (1,2,3,4,5)
print(tup[2])

3

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [102]:
# write your code here
tup = (1,2,3,4,5)
print(tup[-3:])

(3, 4, 5)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [103]:
# write your code here
tup = (1,2,3,4,5)
value = 3
if value in tup:
  print(True)
else:
  print(False)

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [104]:
# write your code here
tup = (1,2,3,4,5)
index = tup.index(3)
print(index)

2

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [105]:
# write your code here
tup = (1,2,3,3,4,4,5)
count = tup.count(3)
print(count)

2

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [106]:
# write your code here
tup = ((1,2),(3,4))
print(tup[0][1])

2

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [107]:
# write your code here
tup1 = (1,2,3)
tup2 = (1,2,3)
if tup1 == tup2:
  print(True)
else:
  print(False)

True

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [108]:
# write your code here
lst = [1,2,3,4,5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [109]:
# write your code here
tup = (1,2,3,4,5)
sum = 0
for i in tup:
  sum += i
print(sum)

15

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [110]:
# write your code here
lst = [1,2,3,4,5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [111]:
# write your code here
tup = (1,2,3,4,5)
for i in tup:
  print(i)

1
2
3
4
5

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [112]:
# write your code here
tup = (1,2,3,4,5)
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [ ]:
# write your code here
tup = (1,2,3,4,5)
a,b,c,d,e = tup
print(a,b,c,d,e)

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [ ]:
# write your code here
tup = (1,2)
dic = {tup: 'value'}
print(dic)

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [ ]:
# write your code here
tup = (1,2,3,4,5)
length = len(tup)
print(length)

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [ ]:
# write your code here
tup1 = (1,2,3)
tup2 = (1,2,4)
if tup1 < tup2:
  print(True)
else:
  print(False)

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [ ]:
# write your code here
tup = (1,2,3,4,5)
max_value = max(tup)
min_value = min(tup)
print(max_value, min_value)

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [ ]:
# write your code here
tup = ((1,2),(3,4))
print(tup[0][1])

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [ ]:
# write your code here
import sys
lst = [1,2,3,4,5]
tup = (1,2,3,4,5)
print(f'tuple_size: {sys.getsizeof(tup)}')

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [ ]:
# write your code here
s = {10,11,12,13,14,15}
print(s)

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [ ]:
# write your code here
s = {1,2,3,4,5}
s.update([6,7,8])
print(s)

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {1,2,3}
if set2.issubset(set1):
  print(True)
else:
  print(False)

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {1,2,3}
if set1.issuperset(set2):
  print(True)
else:
  print(False)

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set1 - set2)

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [ ]:
# write your code here
my_set = set()
for i in range(1,16):
  if i % 3 == 0:
    my_set.add(i)
print(my_set)

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set.discard(3)
print(set)

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
if len(set) == 0:
  print(True)
else:
  print(False)

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
max_value = max(set1)
print(max_value)

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
min_value = min(set1)
print(min_value)

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [ ]:
# write your code here
set = {'a','b','c'}
frozen_set = frozenset(set)
print(frozen_set)

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [ ]:
# write your code here
set1 = {'a','b','c'}
frozen_set = frozenset(set1)
frozen_set.add('d')

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [113]:
# write your code here
set1 = {'a','b','c'}
set2 = {'d','e','f'}
frozen_set = frozenset(set1)
combined_set = frozen_set.union(set2)
print(combined_set)

frozenset({'c', 'f', 'e', 'a', 'd', 'b'})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [114]:
# write your code here
numbers = [10, 20, 10, 30, 20, 40, 30]
unique_numbers = set(numbers)
print(unique_numbers)

TypeError: 'set' object is not callable

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [ ]:
# write your code here
set = {i**2 for i in range(1,6)}
print(set)

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A ∩ B
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set1.intersection(set2))

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A Δ B) set
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set1.symmetric_difference(set2))

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [ ]:
# write your code
set = {1,2,3,4,5}
for i in set:
  print(i)

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [115]:
# write your code here
set = {1,2,3,4,5}
print(len(set))

5

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [116]:
# write your code here
set1 = {1,2,3,4,5}
set2 = set1.copy()
print(set1 is set2)

False

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.