# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [2]:
#answer here
import pandas as pd
pd.__version__

Marks = pd.Series([88,77,66,55,44,22,11])

City = pd.Series(["Noida", "Pune", "Gujarat", "Bhopal", "Bangalore"])

Floating_num = pd.Series([92.8 ,87.5 ,76.2 ,99.9 ,23.65])

print(Marks)
print(City)
print(Floating_num)

0    88
1    77
2    66
3    55
4    44
5    22
6    11
dtype: int64
0        Noida
1         Pune
2      Gujarat
3       Bhopal
4    Bangalore
dtype: object
0    92.80
1    87.50
2    76.20
3    99.90
4    23.65
dtype: float64

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [ ]:
#answer here

# Task 1
Name = pd.Series(["Akash", "Rahul", "Ashu", "Mohan", "Sujal"])
Age = pd.Series([24, 23, 22, 21, 20])

# var = pd.concat({"Name": Name, "Age": Age}, axis = 1)
# print(var)

# Task 2
Product_Name = pd.Series(["Milk", "Bread", " Egg", "Pulses", "Rice"])
Price = pd.Series([30, 20, 9, 40, 55])
Quantity = pd.Series([1, 1, "2kg", "3kg", "5kg"])

# var = pd.concat({""})
Grocery_df = pd.DataFrame({
    'Product Name': Product_Name,
    'Price': Price,
    'Quantity': Quantity
})

print(Grocery_df)

  Product Name  Price Quantity
0         Milk     30        1
1        Bread     20        1
2          Egg      9      2kg
3       Pulses     40      3kg
4         Rice     55      5kg

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [15]:
#answer here
import pandas as pd
Student_df = {
    "Name": ['Akash','Abhi', 'Subh'],
    "Age": [24,25,26],
    "City": ["Noida","Pune", "Gurgaon"]
    }

var = pd.DataFrame(Student_df)

print(var)

    Name  Age     City
0  Akash   24    Noida
1   Abhi   25     Pune
2   Subh   26  Gurgaon

In [16]:
# Dictionary with product information
product_dict = {
    'Product': ['Desk', 'Chair', 'Monitor'],
    'Category': ['Furniture', 'Furniture', 'Electronics'],
    'Price': [150.00, 85.50, 299.99]
}


product_df = pd.DataFrame(product_dict)

print("\nProduct DataFrame:")
print(product_df)

Product DataFrame:
   Product     Category   Price
0     Desk    Furniture  150.00
1    Chair    Furniture   85.50
2  Monitor  Electronics  299.99

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [17]:
#answer here
product_df.to_csv("Product.csv")

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [ ]:
#answer here